@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 86px;
}

body {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  transition: 1s;
}

.displayClass {
  font-family: "Bebas Neue";
  font-weight: bold;
  height: 100% !important;
  width: 100%;
  display: block;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 4px;
  transition: 0.2s;
  font-size: 19px;
}

.displayClass:hover {
  font-size: 24px;
}
